<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @copyright 2020 Ceymox. All rights reserved
 * @author Anzz
 *
 */
 -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ceymox_ProductImport" setup_version="1.0.0"/>
</config>